.row {
  height: 100vh;
}

.card {
  max-width: 700px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}